---
import Layout from "../layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<!--Fill in the boilerplate -->
<Layout title="Software Engineering">
  <main>
      <a href="https://github.com/Boland-Unfug">
        <Icon name="github" />
      </a>
      <a href="https://www.linkedin.com/in/boland-unfug/">
        <Icon name="linkedin" />
      </a>
  </main></Layout
>
