<!--Fill in the boilerplate -->

---
---

<html>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Test start</title>
	</head><!--add a class where the gradient is 10% black on each edge and blue and pink in the middle in dark mode, replace the black with white in light mode -->
	<!--bg-gradient-to-r from-sky-500 from-1% via-black to-pink-500 to-99% -->
	<body class="grid grid-cols-1 rows-9 gap-4 place-content-center h-20">
		<div class="text-center text-5xl">
			Hello World
			<!-- eventually want this to transition between different programming languages -->
	</body>
</html>



