---
import Layout from '../layouts/Layout.astro'
import { Icon } from 'astro-icon/components'
import { ViewTransitions } from 'astro:transitions';
---

<Layout title="test 2">
    <main>
  <h1 class="text-gradient">Software Engineering</h1>
  <p>
    Software engineering is the systematic application of engineering approaches to the development of software. It is a discipline that covers the entire software development process, from the initial planning phase to the final deployment phase.
  </p>
  <p>
    Software engineering is a broad field that encompasses a wide range of activities, including software design, software development, software testing, and software maintenance. It is a collaborative and team-oriented process that involves multiple stakeholders, including software engineers, project managers, quality assurance professionals, and end users.
  </p>
  <p>
    Software engineering is an essential discipline in today's digital world, as software is an integral part of almost every aspect of modern life. From the operating systems that power our computers and smartphones to the applications that run on them, software engineering plays a crucial role in shaping the technology that surrounds us.
  </p>
  <p> this is a test</p>
</main>
</Layout>